header {
  border-color: rgb(233, 36, 216);
  border-style: dashed;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.headerblok {
  display: inline;
}

.onderheaderblok {
  border: 5px solid #e9a703;
  border-style: dotted;
  font-family: "Arial";
  font-style: oblique;
  margin: 40px 5px 10px 80px;
  padding: 10px;
}

.watblok {
  background-color: fuchsia;
}

.fancy {
  font-family: "Trebuchet MS";
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
  margin: 0 auto;
  width: 80%;
}

.zinlozetekst {
  border: 2px solid black;
}

.navihorizontaal li {
  display: inline;
  word-spacing: 50px;
}
